const char WIFI_SSID[] = "";
const char WIFI_PASSWORD[] = "";
String channel_prefix = "";
const char MQTT_ENDPOINT[] = "";
const char MQTT_USERNAME[] = "";
const char MQTT_PASSWORD[] = "";
String _googleApiKey = "";
